.hero__wrapper { 
    background-color: var(--first-brand-color);
}

.hero {
    padding: 25rem 0 5rem;
    text-align: center;
    position: relative;
}
.hero .text {
    margin-bottom: 5rem;
}
.info__wrapper {
    background-color: var(--second-brand-color);
}
.info {
    text-align: center;
    padding: 20rem 0;
}
.hero__btn {
    font-size: 2rem;
}
@media screen and (min-width: 1440px) {
    .hero__wrapper { 
        background-image: url('../img/bg.png');
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
    }
    .hero {
        text-align: left;
        padding: 45rem 0 25rem;
    }
}
